// ESN Landscape

// Bootstrap theme

// Fluid layout
$fluid = true

// Responsive design
$responsive = true
 
// Grid system
$grid-columns       = 12
$grid-column-width  = 60px
$grid-gutter-width  = 20px
$container-padding  = 20px
$site-width         = ($grid-columns * $grid-column-width) + ($grid-gutter-width * ($grid-columns - 1))

// Fluid grid
$fluid-grid-column-width = 6.382978723%
$fluid-grid-gutter-width = 2.127659574%

// Colors
$color-1            = #fff      // White
$color-2            = #000      // Black
$color-3            = #eee      // Very light gray
$color-4            = #ccc      // Light gray
$color-5            = #999      // Medium light gray
$color-6            = #666      // Gray
$color-7            = #333      // Dark gray
$color-8            = #353535   // Custom light gray
$color-9            = #d14      // Violet
$color-10           = #08c      // Blue

$color-light        = $color-1
$color-dark         = $color-2
$color-default      = $color-3
$color-primary      = darken($color-10, 15%)
$color-muted        = $color-5
$color-warning      = #c09853   // Orange
$color-danger       = #b94a48   // Red
$color-success      = #468847   // Green
$color-info         = #3a87ad   // Blue

// Typography

// Fonts
$font-family-serif        = Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif   = "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-monospace    = Menlo, Monaco, "Courier New", monospace

$base-font-family   = $font-family-sans-serif
$base-font-size     = 13px
$base-line-height   = 18px
$base-color         = $color-8

// Borders
$base-border-width  = 1px
$base-border-radius = 4px

// Headers
$header-color       = $color-7
$header-line-height = 1.3em

$h1-font-size       = 2.3em
$h2-font-size       = 1.8em
$h3-font-size       = 1.4em
$h4-font-size       = 1.1em
$h5-font-size       = 1em
$h6-font-size       = .85em

$h6()
  color: $color-5
  text-transform: uppercase

// Paragraphs
$paragraph-font-family = $base-font-family
$paragraph-font-size   = $base-font-size

$paragraph()
  // Anchors in paragraphs
  a:hover
    text-decoration: underline

// Lists
$list-margin = 0 0 ($base-line-height / 2) 25px

// Anchors
$anchor-color               = $color-10
$anchor-hover-color         = darken($anchor-color, 40%)
$anchor-active-color        = lighten($anchor-color, 10%)

// Code
$code-inline-color          = $color-9

// Buttons

// Button structure
$button-padding             = 4px 10px 4px
$button-line-height         = $base-line-height

// Button colors
$button-color               = $color-8
$button-primary-color       = $color-primary
$button-warning-color       = $color-warning
$button-danger-color        = $color-danger
$button-success-color       = $color-success
$button-info-color          = $color-info

// Button borders
$button-border-color            = $color-4
$button-border-color-bottom     = darken($color-4, 10%)
$button-border-radius           = $base-border-radius
$button-border                  = 1px solid $button-border-color

// Button effects
$button-text-shadow         = 0 1px 1px fade-out($color-light, .25)
$button-box-shadow          = inset 0 1px 0 fade-out($color-light, .75), 0 1px 2px fade-out($color-dark, .95)

// Hover
$button-hover()
  //color: $button-color
  text-decoration: none
  //background-color: #e6e6e6
  background-position: 0 -15px
  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  transition: background-position .2s linear, border .2s linear, color .2s linear, opacity.2s linear

// Active
$button-active()
  background-image: none
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)
  //background-color: darken($color-light, 10%)
  //background-color: darken($color-light, 15%) \\9 // IE haxx
  //color: rgba(0,0,0,.5)
  transition: all .15s ease
  .caret
    opacity: .4 !important

// Disabled
$button-disabled()
  background-image: none
  background-color: darken($color-light, 10%);
  opacity: .65
  box-shadow: none

// Button backgrounds
$button-gradient-old()
  p = $color-1
  s = darken(p, 10%)
  gradient-bar(p, s)

$button-default-background = #ccc

// Primary
$button-primary-gradient2()
  button-background($anchor-color, spin($anchor-color, 20))

$button-primary-background      = $anchor-color

$button-hover-color-default     = #333
$button-hover-color-primary     = $button-hover-color-default

// Warning
$button-danger-gradient2()
  button-background(#ee5f5b, #bd362f)

// Navbar
$navbar-height                  = 40px
$navbar-background              = #333
$navbar-background-highlight    = #222
$navbar-color                   = darken($color-light, 40%)
$navbar-anchor-color            = $navbar-color
$navbar-anchor-color-hover      = $color-light
$navbar-border-radius           = $base-border-radius
$navbar-box-shadow              = 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)
$navbar-padding                 = 20px

// Alert
$alert-border-radius    = $base-border-radius
$alert-padding          = 8px 35px 8px 14px
$alert-text-shadow      = 0 1px 0 rgba(255,255,255,.5)

// Form states and alerts
$warning-color          = #c09853
$warning-background     = #fcf8e3
$warning-border         = darken(spin($warning-background, -10), 3%)

$error-color            = #b94a48
$error-background       = #f2dede
$error-border           = darken(spin($error-background, -10), 3%)

$success-color          = #468847
$success-background     = #dff0d8
$success-border         = darken(spin($success-background, -10), 5%)

$info-color             = #3a87ad
$info-background        = #d9edf7
$info-border            = darken(spin($info-background, -10), 7%)

// Dropdowns
$dropdown-border-radius  = $base-border-radius

// Wells
$well-margin      = 0 0 20px 0
$well-padding     = 19px
$well-background  = #f5f5f5
// Custom border
$well-border()
  border: 1px solid #eee
  border: 1px solid rgba(0,0,0,.05)
$well-border-radius     = $base-border-radius
$well-box-shadow        = inset 0 1px 1px rgba(0,0,0,.05)
//$well-min-height        = 20px

// Thumbnails
$thumbnails-spacing           = 30px
$thumbnails-padding           = 4px
$thumbnails-border-radius     = $base-border-radius
$thumbnails-box-shadow        = 0 1px 1px rgba(0,0,0,.075)
$thumbnails-caption-padding   = 9px;

// Z-indices
$zindex-dropdown                = 1000
$zindex-popover                 = 1010
$zindex-tooltip                 = 1020
$zindex-navbar-fixed            = 1030
$zindex-modal-backdrop          = 1040
$zindex-modal                   = 1050