// ESN Landscape

// Bootstrap theme

// Colors
// Only used in config for readability

// Grays
$black              = #000
$gray-darkest       = #111
$gray-darker        = #222
$gray-dark          = #333
$gray               = #555
$gray-medium        = #666
$gray-light         = #999
$gray-lighter       = #ccc
$gray-lightest      = #eee
$white              = #fff

// Colors
$red                = #b94a48   // Chestnut
$green              = #468847   // Hippie Green
$blue               = #049cdb   // Cerulean
$cornflower-blue    = #0088cc   // Cornflower Blue
$boston-blue        = #3a87ad   // Boston Blue
$orange             = #f89406   // California
$violet             = #dd1144   // Crimson
$yellow             = #ffc40d   // Supernova
$purple             = #7a43b6   // Studio
$pink               = #c3325f   // Hibiscus

// The below variables are used in the framework and must be set
$color-light        = $white
$color-dark         = $black
$color-default      = $gray-dark
$color-primary      = darken($cornflower-blue, 15%)
$color-muted        = $gray-light
$color-warning      = $orange
$color-danger       = $red
$color-success      = $green
$color-info         = $boston-blue

// Fluid layout
$fluid = true

// Responsive design
$responsive = true
 
// Grid system
$grid-columns       = 12
$grid-column-width  = 60px
$grid-gutter-width  = 20px
$container-padding  = 20px
$site-width         = ($grid-column-width * $grid-columns) + ($grid-gutter-width * ($grid-columns - 1))

// Fluid grid
$fluid-grid-column-width = unit(($grid-column-width * $grid-columns) / $site-width / $grid-columns * 100, '%') // 6.382978723404255%
$fluid-grid-gutter-width = unit(($grid-gutter-width * ($grid-columns - 1)) / $site-width / ($grid-columns - 1) * 100, '%') // 2.127659574468085%

// Typography

// Fonts
$font-family-serif        = Georgia, "Times New Roman", Times, serif
$font-family-sans-serif   = "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-monospace    = Menlo, Monaco, "Courier New", monospace

$base-font-family   = $font-family-sans-serif
$base-font-size     = 13px
$base-line-height   = 18px
$base-color         = $color-default

// Borders
$base-border-width  = 1px
$base-border-radius = 4px

// Headers
$header-color       = $color-default
$header-line-height = 1.3em

$h1-font-size       = 2.3em
$h2-font-size       = 1.8em
$h3-font-size       = 1.4em
$h4-font-size       = 1.1em
$h5-font-size       = 1em
$h6-font-size       = .85em

$h2()
  margin-bottom: .2em

$h3()
  margin-bottom: .4em

$h4()
  $h3()

$h5()
  $h3()

$h6()
  $h3()
  color: $gray-light
  text-transform: uppercase

// Paragraphs
$paragraph-font-family = $base-font-family
$paragraph-font-size   = $base-font-size

$paragraph()
  // Anchors in paragraphs
  a:hover
    text-decoration: underline

// Lists
$list-margin = 0 0 ($base-line-height / 2) 25px

// Anchors
$anchor-color               = $cornflower-blue
$anchor-hover-color         = darken($anchor-color, 40%)
$anchor-active-color        = lighten($anchor-color, 10%)

// Code
$code-inline-color          = $violet

// Forms
$form-consecutive-margin    = .4em

$form-input-width           = 210px
$form-input-padding         = 4px
$form-input-margin          = 0 0 9px 0
$form-input-border          = 1px solid $gray-lighter
$form-input-border-radius   = $base-border-radius
$form-input-color           = $gray

$form-input-background      = darken($white, 2%)
$form-input-transition      = border linear .2s, box-shadow linear .2s
$form-input-inner-shadow    = inset 0 1px 1px rgba(0,0,0,.1)
$form-input-focus-shadow    = inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6)
$form-input-focus-border    = rgba(82,168,236,.8)

$form-input-disabled-background = $form-input-background
$form-input-disabled-border     = #ddd

$form-label-color           = $gray-dark
$form-legend-color          = $gray-dark
$form-legend-border-bottom  = 1px solid #eee

$form-select-width          = $form-input-width + 10px
$form-select-background     = $white

// Buttons

// Button structure
$button-padding             = 4px 10px 4px
$button-line-height         = $base-line-height

// Button colors
$button-color               = lighten($gray-dark, 5%)
$button-primary-color       = $color-primary
$button-warning-color       = $color-warning
$button-danger-color        = $color-danger
$button-success-color       = $color-success
$button-info-color          = $color-info

// Button borders
$button-border-color            = $gray-lighter
$button-border-color-bottom     = darken($gray-lighter, 10%)
$button-border-radius           = $base-border-radius
$button-border                  = 1px solid $button-border-color

// Button effects
$button-text-shadow         = 0 1px 1px fade-out($color-light, .25)
$button-box-shadow          = inset 0 1px 0 fade-out($color-light, .75), 0 1px 2px fade-out($color-dark, .95)

// Hover
$button-hover()
  text-decoration: none
  //background-color: #e6e6e6
  background-position: 0 -15px
  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  transition: background-position .1s ease, border .1s ease, color .1s ease, opacity.1s ease

// Active
$button-active()
  background-image: none
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)
  //background-color: darken($color-light, 10%)
  //background-color: darken($color-light, 15%) \\9 // IE haxx
  background-position: 0 -15px
  transition: all .1s ease
  .caret
    opacity: .4 !important

// Disabled
$button-disabled()
  color: @color !important
  background-image: none
  //background-color: darken($color-light, 10%);
  opacity: .65
  box-shadow: none

// Button backgrounds
$button-gradient-old()
  p = $white
  s = darken(p, 10%)
  gradient-bar(p, s)

$button-default-background = #ccc

// Primary
$button-primary-background      = $anchor-color
$button-hover-color-default     = #333
$button-hover-color-primary     = $button-hover-color-default

// Navbar
$navbar-height                  = 40px
$navbar-background              = #333
$navbar-background-highlight    = #222
$navbar-color                   = darken($color-light, 40%)
$navbar-anchor-color            = $navbar-color
$navbar-anchor-color-hover      = $color-light
$navbar-border-radius           = $base-border-radius
$navbar-box-shadow              = 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)
$navbar-padding                 = 20px

// Dropdowns
$dropdown-min-width       = 160px
$dropdown-max-width       = 220px
$dropdown-padding         = 4px 0
$dropdown-background      = $color-light

$dropdown-border()
  border: 1px solid $gray-lighter
  border-color: rgba(0,0,0,.2)
  *border-right-width: 2px
  *border-bottom-width: 2px

$dropdown-border-radius       = $base-border-radius
$dropdown-box-shadow          = 0 5px 10px rgba(0,0,0,.2)
$dropdown-divider-color       = darken($gray-lightest, 5%)
$dropdown-divider-border      = 1px solid $color-light
$dropdown-anchor-padding      = 3px 15px
$dropdown-anchor-color        = $gray-medium
$dropdown-anchor-hover-color  = $color-light
$dropdown-anchor-background   = $anchor-color

// Alert
$alert-border-radius    = $base-border-radius
$alert-padding          = 8px 35px 8px 14px
$alert-text-shadow      = 0 1px 0 rgba(255,255,255,.5)

// Labels
$label-padding          = 1px 3px 2px
$label-font-size        = ($base-font-size * .75)
$label-font-weight      = bold
$label-color            = $color-light
$label-uppercase        = true
$label-border-radius    = $base-border-radius
$label-text-shadow      = 0 1px 1px rgba(0,0,0,.3)

// Form states and alerts
$warning-color          = #c09853
$warning-background     = #fcf8e3
$warning-border         = darken(spin($warning-background, -10), 3%)

$error-color            = #b94a48
$error-background       = #f2dede
$error-border           = darken(spin($error-background, -10), 3%)

$success-color          = #468847
$success-background     = #dff0d8
$success-border         = darken(spin($success-background, -10), 5%)

$info-color             = #3a87ad
$info-background        = #d9edf7
$info-border            = darken(spin($info-background, -10), 7%)

// Dropdowns
$dropdown-border-radius  = $base-border-radius

// Wells
$well-margin      = 0 0 20px 0
$well-padding     = 19px
$well-background  = #f5f5f5
// Custom border
$well-border()
  border: 1px solid #eee
  border: 1px solid rgba(0,0,0,.05)
$well-border-radius     = $base-border-radius
$well-box-shadow        = inset 0 1px 1px rgba(0,0,0,.05)
//$well-min-height        = 20px

// Thumbnails
$thumbnails-spacing           = 30px
$thumbnails-padding           = 4px
$thumbnails-border-radius     = $base-border-radius
$thumbnails-box-shadow        = 0 1px 1px rgba(0,0,0,.075)
$thumbnails-caption-padding   = 9px;

// Z-indices
$zindex-dropdown                = 1000
$zindex-popover                 = 1010
$zindex-tooltip                 = 1020
$zindex-navbar-fixed            = 1030
$zindex-modal-backdrop          = 1040
$zindex-modal                   = 1050