// Theme-specific fonts
@font-face
  font-family: BebasNeueRegular
  font-weight: normal
  font-style: normal
  src: local('ò∫'), url($theme-url + "fonts/BebasNeue-webfont.eot"), url($theme-url + "fonts/BebasNeue-webfont.woff") format("woff"), url($theme-url + "fonts/BebasNeue-webfont.ttf") format("truetype"), url($theme-url + "fonts/BebasNeue-webfont.svg#webfontE057xtoO") format("svg")

// Headers
h1
  color: #000
  font-family: BebasNeueRegular
  font-weight: normal