/*
 * ESN Frontend Toolkit documentation styles
 */

@import nib

// Body and structure
body
  position: relative
  padding-top: 90px
  background-color: #fff
  background-repeat: repeat-x

// Tweak navbar brand link to be super sleek
body.navbar-fixed .brand
  padding-right: 0
  padding-left: 0
  margin-left: 20px
  float: right
  font-weight: bold
  color: #000
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125)
  text-indent: -999999px
  margin-top: 2px
  width: 81px
  background: url("http://www.esn.me/public/base/logo.png") no-repeat

  &:hover
    text-decoration: none

// Space out sub-sections more
section
  padding-top: 60px

.page-header
  margin: 18px 0
  border-bottom: 1px solid #eee
  
  h1
    font-size: 3em
    margin-bottom: 17px
    line-height: 1

  
// Jumbotrons
.jumbotron
  position: relative
  text-shadow: 0 1px 0 #fff

  h1 
    margin-right: 40%
    margin-bottom: 9px
    font-size: 90px
    letter-spacing: -1px
    line-height: 1

  p
    margin-right: 32%
    margin-bottom: 20px
    font-size: 25px
    font-weight: 300
    line-height: 36px

  .btn-large
    font-size: 1.5em
    margin-right: 5px
    padding: .7em .8em

  .download-info
    font-size: 16px
    color: #999
  
// Subnav
.subnav
  width: 100%
  height: 36px
  //background: whiteSmoke linear-gradient-image(36px, whiteSmoke 0%, #eee 100%)
  background: linear-gradient(top, whiteSmoke 0%, #eee 100%)
  border: 1px solid #E5E5E5
  border-radius: $base-border-radius

  .nav
    margin-bottom: 0

    a
      margin: 0
      padding-top: 11px
      padding-bottom: 11px
      font-size: 13px
      color: #777
      border-left: 1px solid whiteSmoke
      border-right: 1px solid #E5E5E5
      border-radius: 0

    a:hover,
    .active a
      background-color: transparent
      color: #333
      
    li:first-child a
      border-left: 0
      border-radius: $base-border-radius 0 0 $base-border-radius

// Benefits list in masthead 
.benefits
  width: 250px
  position: absolute
  right: 0
  bottom: 0

  ul
    list-style: none
    margin: 0

  li
    font-size: 16px
    font-weight: 300
    line-height: 35px
    color: #555

    + li
      border-top: 1px solid #f5f5f5

  h4
    color: #555

  span
    position: relative
    top: -2px
    padding-right: 5px
    color: #999

// Specific jumbotrons
// supporting docs pages 
.subhead
  padding-bottom: 14px

  h1, p
    margin-right: 0

  h1
    font-size: 45px

// Quick links
.quick-links
  min-height: 30px
  padding: 5px 20px
  margin: 45px 0
  list-style: none
  text-align: center
  background-color: #eee
  border-radius: 3px
  box-shadow: inset 0 1px 0 rgba(0,0,0,.03)
  overflow: hidden

.quick-links li 
  display: inline
  margin: 0 5px

.quick-links .divider
  color: #999

.quick-links strong
  font-weight: normal
  color: #999

.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn
  position: relative
  top: 5px


// Marketing section of Overview
.marketing .row
  margin-bottom: 9px

.marketing h1
  margin: 36px 0 27px
  font-size: 36px
  font-weight: 300
  text-align: center

.marketing h2,
.marketing h3
  font-weight: 300

.marketing h2
  font-size: 22px

.marketing p
  margin-right: 10px

.marketing .icon
  float: left
  margin: 7px 10px 0 0
  opacity: .8

.marketing .small-icon
  float: left
  margin: 4px 5px 0 0

// Quickstart section for getting le code
.getting-started
  //background: #f5f5f5 linear-gradient-image(36px, #f9f9f9 0%, #f5f5f5 100%)
  background: linear-gradient(top, #f9f9f9, #f5f5f5)
  border-radius: $base-border-radius

.getting-started
  border-color: #eee

.getting-started td
  width: 33%
  border-right: 1px solid #eee

.getting-started td + td
  border-left: 1px solid #fff

.getting-started td:last-child
  border-right: 0

.quick-start
  padding: 17px 20px

.quick-start h3,
.quick-start p
  line-height: 18px
  text-align: center
  margin-bottom: 9px

.quick-start p
  color: #777

.quick-start .current-version,
.quick-start .current-version a
  color: #999

.quick-start form
  margin-bottom: 0
  
.quick-start textarea 
  display: block
  width: 100%
  height: auto
  margin-bottom: 0
  line-height: 21px
  white-space: nowrap
  overflow: hidden
  box-sizing: border-box
  // Hacks for IE7 to make this work just okay enough to function 
  *width: 270px
  *height: 24px

// Footer
.footer
  margin-top: 45px
  padding: 35px 0 36px
  border-top: 1px solid #e5e5e5

.footer p
  margin-bottom: 0
  color: #555

.footer dl
  margin-bottom: 0

.footer dl dt
  font-size: 11px
  color: #999
  text-transform: uppercase

.footer dl dd + dt
  margin-top: 18px

.footer dl dd
  margin-left: 0
  font-size: 12px

.footer dl a
  color: #999

.footer dl a:hover
  color: #555

// Special grid styles
.show-grid
  margin-top: 10px
  margin-bottom: 20px

.show-grid [class*="span"]
  background-color: #eee
  text-align: center
  border-radius: 3px
  min-height: 30px
  line-height: 30px

.show-grid:hover [class*="span"]
  background: #ddd

.show-grid .show-grid
  margin-top: 0
  margin-bottom: 0

.show-grid .show-grid [class*="span"]
  background-color: #ccc

// Render mini layout previews
.mini-layout
  border: 1px solid #ddd
  border-radius: 6px
  box-shadow: 0 1px 2px rgba(0,0,0,.075)

.mini-layout
  height: 240px
  margin-bottom: 20px
  padding: 9px
  
.mini-layout div
  border-radius: 3px

.mini-layout .mini-layout-body
  background-color: #dceaf4
  margin: 0 auto
  width: 70%
  height: 240px

.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body
  float: left

.mini-layout.fluid .mini-layout-sidebar
  background-color: #bbd8e9
  width: 20%
  height: 240px

.mini-layout.fluid .mini-layout-body
  width: 60%
  margin-left: 10px

// Popover docs
.popover-well
  min-height: 160px

.popover-well .popover
  display: block

.popover-well .popover-wrapper
  width: 50%
  height: 160px
  float: left
  margin-left: 55px
  position: relative

.popover-well .popover-menu-wrapper
  height: 80px

.large-bird
  margin: 5px 0 0 310px
  opacity: .1

// Misc
pre.prettyprint
  overflow: hidden

.browser-support
  max-width: 100%

// Make tables spaced out a bit more 
h2 + table,
h2 + .row
  margin-top: 5px

// Example sites showcase 
.example-sites img
  max-width: 290px

.marketing-byline
  margin: -18px 0 27px
  font-size: 18px
  font-weight: 300
  color: #999
  text-align: center

.scrollspy-example 
  height: 200px
  overflow: auto
  position: relative

// Remove bottom margin on example forms in wells 
form.well 
  margin-bottom: 0

// Tighten up spacing 
.well hr 
  margin: 18px 0

// Form docs for horizontal forms 
.form-docs 
  padding-left: 10px

.form-docs h3,
.form-docs p,
.form-docs li 
  color: #777

.form-docs hr 
  margin: 18px 0

// Fake the :focus state to demo it 
.focused 
  border-color: rgba(82,168,236,.8)
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6)
  outline: 0


// For input sizes, make them display block 
.docs-input-sizes input[type=text] 
  display: block
  margin-bottom: 9px

// Icons
.the-icons i 
  display: block
  margin-bottom: 5px
  background-color: rgba(255,0,0,.25)

.the-icons i:after 
  display: block
  content: attr(class)
  font-style: normal
  margin-left: 20px
  width: 100px

#javascript input[type=checkbox] 
  position: relative
  top: -1px
  display: inline
  margin-left: 6px

// Responsive Docs
@media (max-width: 480px)

  // Reduce padding above jumbotron
  body 
    padding-top: 70px

  // Change up some type stuff
  h1 small 
    display: block
    line-height: 20px
  
  // More space between sections
  h2 
    margin-top: 27px
  
  h3 
    margin-top: 18px

  // Adjust the jumbotron
  .jumbotron
    h1, p 
      text-align: center
      margin-right: 0
  
    h1 
      font-size: 45px
      margin-right: 0
  
    p 
      margin-right: 0
      font-size: 18px
      line-height: 24px
    
    .btn 
      display: block
      font-size: 18px
      padding: 10px 14px
      margin: 0 auto 10px
 
  // Don't space out quick links so much
  .quick-links 
    margin: 40px 0 0
  
  // hide the bullets on mobile since our horizontal space is limited
  .quick-links .divider 
    display: none

  // center example sites
  .example-sites 
    margin-left: 0
  
  .example-sites > li 
    float: none
    display: block
    max-width: 300px
    margin: 0 auto 18px
  
  .example-sites img 
    max-width: 270px

  table code 
    white-space: normal
    word-wrap: break-word
    word-break: break-all

@media (min-width: 940px)
  .subnav-fixed
    position: fixed
    top: 40px
    left: 0
    right: 0
    z-index: 1030
    border-color: #D5D5D5
    border-width: 0 0 1px
    border-radius: 0
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1)

    .nav
      margin: 0 auto
      padding: 0 1px

@media (min-width: 940px) and (max-width: 1210px)
  .subnav-fixed .nav
    width: 938px

@media (min-width: 1210px)
  .subnav-fixed .nav
    width: 1168px

@media (max-width: 768px)

  // Subnav
  .subnav
    position: static
    top: auto
    z-index: auto
    width: auto
    height: auto
    background: #fff // whole background property since we use a background-image for gradient
    box-shadow: none

  .subnav .nav
    > li 
      float: none

    a
      border: 0

    li + li a
      border-top: 1px solid #e5e5e5

  // Adjust the jumbotron
  .jumbotron .benefits 
    position: relative
    width: auto
    margin: 36px 0

  // Popovers
  .large-bird 
    display: none
  
  .popover-well .popover-wrapper 
    margin-left: 0

  // Space out the show-grid examples
  .show-grid [class*="span"] 
    margin-bottom: 5px
  
  // Unfloat the back to top link in footer
  .footer .pull-right 
    float: none
  
  .footer p 
    margin-bottom: 9px

@media (min-width: 480px) and (max-width: 768px) 
  // Scale down the jumbotron content 
  .jumbotron h1 
    font-size: 54px

  .jumbotron h1,
  .jumbotron p 
    margin-right: 0

@media (min-width: 768px) and (max-width: 940px) 
  // Scale down the jumbotron content 
  .jumbotron
    h1 
      font-size: 4em

    // Provide enough space on right-hand side for benefits list 
    h1,
    p 
      margin-right: 40%