/*
 * ESN Frontend Toolkit
 */
 
.thumbnails
  @extend .clearfix
  if $thumbnails-spacing is a 'unit'
    margin-left: -($thumbnails-spacing)
  list-style: none

.thumbnails > li
  float: left
  if $thumbnails-spacing is a 'unit'
    margin: 0 0 $thumbnails-spacing $thumbnails-spacing

.thumbnail
  display: block
  line-height: 1

  if $thumbnails-padding is a 'unit'
    padding: $thumbnails-padding

  if $thumbnails-border
    border: 1px solid #ddd

  if $thumbnails-border-radius is a 'unit'
    border-radius: $thumbnails-border-radius
  
  if $thumbnails-box-shadow
    box-shadow: $thumbnails-box-shadow

// Add a hover state for linked versions only
a.thumbnail:hover
  if $thumbnails-hover is a 'function'
    $thumbnails-hover()
  else
    border-color: $anchor-color
    box-shadow: 0 1px 4px fade-out($anchor-color, .75)

// Images and captions
.thumbnail > img
  display: block
  max-width: 100%

if $thumbnails-caption-padding is a 'unit'
  .thumbnail .caption
    padding: $thumbnails-caption-padding