/*
 * ESN Frontend Toolkit
 */
 
/*
 * Layout
 */
$layout-fluid = false
$layout-responsive = false
 
/*
 * Grid system
 */
$grid-columns = 12
$grid-column-width = 60px
$grid-gutter-width = 20px
$container-padding = 20px
$site-width = ($grid-columns * $grid-column-width) + ($grid-gutter-width * ($grid-columns - 1))

/*
 * Base
 */
 
// Borders
$base-border-width = 1px
$base-border-radius = 3px

// Typography
$base-font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size   = 13px
$base-line-height = 18px
$base-font-color  = #353535

// Headers
$header-fonts()
  h1
    color: black
    font-family: BebasNeueRegular
    font-weight: normal
	small
	  margin-left: .5em

// Customer-specific fonts
@font-face
  font-family: BebasNeueRegular
  font-weight: normal
  font-style: normal
  src: url("http://battlelog.battlefield.com/public/base/fonts/BebasNeue-webfont.eot"), url("http://battlelog.battlefield.com/public/base/fonts/BebasNeue-webfont.woff") format("woff"), url("http://battlelog.battlefield.com/public/base/fonts/BebasNeue-webfont.ttf") format("truetype"), url("http://battlelog.battlefield.com/public/base/fonts/BebasNeue-webfont.svg#webfontE057xtoO") format("svg")

// Anchors
$anchor-color = #308DBF
$anchor-color-hover = darken($anchor-color, 20%)
$anchor-color-active = lighten($anchor-color, 10%)
$anchor-underline = false
$anchor-underline-hover = true
  
/*
 * Z-indices
 */
$zindex-dropdown =        1000;
$zindex-popover =         1010;
$zindex-tooltip =         1020;
$zindex-navbar-fixed =    1030;
$zindex-modal-backdrop =  1040;
$zindex-modal =           1050;