// ESN Landscape

// Bootstrap theme

// Fluid layout
$fluid = true

// Responsive design
$responsive = true
 
// Grid system
$grid-columns = 12
$grid-column-width = 60px
$grid-gutter-width = 20px
$container-padding = 20px
$site-width = ($grid-columns * $grid-column-width) + ($grid-gutter-width * ($grid-columns - 1))

// Fluid grid
$fluid-grid-column-width = 6.382978723%
$fluid-grid-gutter-width = 2.127659574%

// Borders
$base-border-width  = 1px
$base-border-radius = 4px

// Typography
$base-font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size   = 13px
$base-line-height = 18px
$base-font-color  = #353535

// Colors
$color-light    = #fff
$color-dark     = #000
$color-muted    = #999

$color-default  = #333
$color-primary  = #666
$color-warning  = #f89406
$color-danger   = #666
$color-success  = #666

// Anchors
$anchor-color           = #08c
$anchor-color-hover     = darken($anchor-color, 15%)
$anchor-color-active    = lighten($anchor-color, 10%)

// Buttons
$button-color-default       = $color-default
$button-color-primary       = $color-primary
$button-color-warning       = $color-warning
$button-color-danger        = $color-danger
$button-color-success       = $color-success

$button-primary-background  = $anchor-color

$button-hover-color-default = #333
$button-hover-color-primary = $button-hover-color-default

$button-border-color        = #ccc
$button-border-color-bottom = #bbb
$button-border-radius       = $base-border-radius

// Navbar
$navbar-height					= 40px
$navbar-background              = #333
$navbar-background-highlight    = #222
$navbar-color					= darken($color-light, 40%)
$navbar-anchor-color            = $navbar-color
$navbar-anchor-color-hover      = $color-light

// Z-indices
$zindex-dropdown        = 1000
$zindex-popover         = 1010
$zindex-tooltip         = 1020
$zindex-navbar-fixed    = 1030
$zindex-modal-backdrop  = 1040
$zindex-modal           = 1050