extends layout

block navbar
  - var section = 'index'
  include navbar

block content
  #overview
    header.jumbotron.masthead
      .inner
        h1 Landscape
        p.lead.
          A Stylus-powered frontend toolkit for building rich and beautiful web apps
        p.download-info
          a.btn.btn-primary.btn-large(href="https://github.com/esnme/landscape/") View project on GitHub
          a.btn.btn-large(href="./scaffolding.html") Get started &rarr;
      ul.quick-links
        li
          a(href="https://github.com/esnme/landscape/issues?state=open") Issues
        li
          a(href="https://github.com/esnme/landscape/wiki/Roadmap") Roadmap
        li
          a(href="https://github.com/esnme/landscape/wiki/Changelog") Changelog
        li.divider
        li
          iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=esnme&amp;repo=landscape&amp;type=watch&amp;count=true", allowtransparency="true", frameborder="0", scrolling="0", width="114px", height="20px")
        li
          iframe.github-btn(src="http://markdotto.github.com/github-buttons/github-btn.html?user=esnme&amp;repo=landscape&amp;type=fork&amp;count=true", allowtransparency="true", frameborder="0", scrolling="0", width="98px", height="20px")
        li.divider
        li.follow-btn
          iframe.twitter-follow-button(src="http://platform.twitter.com/widgets/follow_button.1326407570.html#_=1328784774962&amp;_version=2&amp;enableNewSizing=false&amp;id=twitter-widget-2&amp;lang=en&amp;screen_name=esnme&amp;show_count=false&amp;size=m", allowtransparency="true", frameborder="0", scrolling="no", style="height: 20px; width: 145px; ", title="Twitter Follow Button")
        li.tweet-btn
          iframe.twitter-follow-button(src="http://platform.twitter.com/widgets/tweet_button.1326407570.html#_=1328784774961&_version=2&count=horizontal&enableNewSizing=false&id=twitter-widget-0&lang=en&original_referer=http%3A%2F%2Ftwitter.github.com%2Fesnme%2F&related=mdo%3ACreator%20of%20Twitter%20Bootstrap&size=m&text=Landscape&url=http%3A%2F%2Ftwitter.github.com%2Fesnme%2F&via=esnme", allowtransparency="true", frameborder="0", scrolling="no", style="height: 20px; width: 145px; ", title="Twitter Follow Button")