// ESN Landscape

// Breadcrumb
.breadcrumb
  padding: 7px 14px
  margin: 0 0 $base-line-height
  background: linear-gradient(50px top, $color-light, darken($color-light, 5%))
  border: 1px solid #ddd
  border-radius: $base-border-radius
  box-shadow: inset 0 1px 0 $color-light
  
  a,
  span
    text-shadow: 0 1px 0 $color-light

  a.active
    color: $color-default
  
  .divider
    padding: 0 10px
    color: darken($color-light, 30%)