// ESN Landscape
 
// Buttons
.btn
  user-select: none
  display: inline-block
  cursor: pointer

  // Color
  if $button-color is a 'color'
    color: $button-color
  else
    if $button-background-color
      if light($button-background-color)
        color: $color-light
      else
        color: $color-dark

  // Padding
  if $button-padding is a 'unit'
    padding: $button-padding

  // Font family
  if $button-font-family is defined
    font-family: $button-font-family

  // Font size
  if $button-font-size is a 'unit'
    font-size: $button-font-size

  // Line height
  if $button-line-height is a 'unit'
    line-height: $button-line-height

  // Text align
  text-align: center unless $button-text-align

  // Border
  if $button-border is a 'function'
    $button-border()
  else if $button-border is defined
    border: $button-border

  if $button-border-width is a 'unit'
    border-width: $button-border-width
  
  if $button-border-type
    border-type: $button-border-type

  // Border radius
  if $button-border-radius is a 'unit'
    border-radius: $button-border-radius

  // Text shadow
  if $button-text-shadow is a 'function'
    $button-text-shadow()
  else if $button-text-shadow is defined
    text-shadow: $button-text-shadow

  // Gradient background
  if $button-gradient is a 'function'
    $button-gradient()
  else
    new = saturate($color-light, 40%)
    button-background(lighten(new, 10%), darken(new, 10%))

  // Box shadow
  if $button-box-shadow is a 'function'
    $button-box-shadow()
  else if $button-box-shadow
    box-shadow: $button-box-shadow

  + .btn
    margin-left: .75em

  // Caret inside button
  .caret
    // Reposition dropdown caret
    if ($button-line-height) is a 'unit'
      margin-top: ($button-line-height / 2.5)
    else
      margin-top: ($base-line-height / 2.5)
    margin-left: 0

  // Give IE7 some love
  ie7-restore-left-whitespace()

  // Hover
  &:hover
    if $button-hover is a 'function'
      $button-hover()
    color: $button-color
    .caret
      opacity: 1

  // Focus
  &:focus
    @extend .tab-focus
    if $button-focus is a 'function'
      $button-focus()

// Button active
.btn-group.open .btn.dropdown-toggle,
.btn.active,
.btn:active
    // Implement your own outline style
    outline: 0
    if $button-active is a 'function'
      $button-active()
    .caret
      opacity: .4 !important

// Button disabled
.btn.disabled,
.btn[disabled]
  cursor: default
  if $button-disabled is a 'function'
    $button-disabled()

// Button Sizes

// Large
.btn-large
  // Font size
  if $button-font-size
    font-size: ($base-font-size + 2px)
  else
    font-size: 1.2em

  // Font padding
  if $button-padding is a 'unit'
    padding: ($button-padding * 2)
  else
    padding: .5em .3em
  
  line-height: normal
  if ($button-border-radius) is a 'unit'
    border-radius: ($button-border-radius * 1.2)
  .icon
    margin-top: .05em

// Small
.btn-small
   // Font size
  if $button-font-size is a 'unit'
    font-size: ($base-font-size * .8)
  else
    font-size: .9em
  line-height: ($base-line-height * .8)
  // Font padding
  if $button-padding is a 'unit'
    padding: ($button-padding * .8)
  else
    padding: .2em .1em
  .icon
    margin-top: .05em

// Alternate buttons

bootstrap-button($color, $saturation=40%, $lighten=10%, $darken=20%, $spin=0)
  $color = saturate($color, $saturation)
  if dark(darken($color, 20%))
    $front = $color-light
    $back = $color-dark
  else
    $front = $color-dark
    $back = $color-light
  color: $front
  text-shadow: 0 -1px 0 rgba($back, .25)
  button-background(lighten($color, $lighten), spin(darken($color, $darken), $spin))
  // Hover
  &:hover
    color: $front
    text-shadow: @text-shadow
  // Active
  &.active,
  &:active
    color: fade-out($front, .4)
  // Caret color
  .caret
    border-top-color: $front
    opacity: .75

// Backgrounds
.btn-primary
  if $button-primary-gradient is a 'function'
    $button-primary-gradient()
  else
    bootstrap-button($color-primary, 30%, 10%, 0%, 20)

// Warning appears are orange
.btn-warning
  if $button-warning-gradient is a 'function'
    $button-warning-gradient()
  else
    bootstrap-button($color-warning, 50%, 10%, 0%, 0)

// Danger and error appear as red
.btn-danger
  if $button-danger-button is a 'function'
    $button-danger-button()
  else
    bootstrap-button($color-danger, 50%, 30%, 10%, 0)

// Success appears as green
.btn-success
  if $button-success-button is a 'function'
    $button-success-button()
  else
    bootstrap-button($color-success, 50%, 30%, 0%, 10)

// Info appears as a neutral blue
.btn-info
  if $button-info-button is a 'function'
    $button-info-button()
  else
    bootstrap-button($color-info, 50%, 40%, 10%, -10)