// ESN Landscape

// Base classes
.nav
  margin-left: 0
  margin-bottom: $base-line-height
  list-style: none

// Make links block level
.nav > li > a
  display: block

.nav > li > a:hover
  text-decoration: none
  background-color: darken($color-light, 7%)

// Nav list
.nav-list
  padding-left: 14px
  padding-right: 14px
  margin-bottom: 0

.nav-list > li > a,
.nav-list .nav-header
  display: block
  padding: 3px 15px
  margin-left:  -15px
  margin-right: -15px
  text-shadow: 0 1px 0 rgba(255,255,255,.5)

.nav-list .nav-header
  font-size: 11px
  font-weight: bold
  line-height: $base-line-height
  color: $color-dark
  text-transform: uppercase

.nav-list > li + .nav-header
  margin-top: 9px

.nav-list .active > a
  &,
  &:hover
    color: $color-light
    text-shadow: 0 -1px 0 rgba(0,0,0,.2)
    background-color: $anchor-color

// Tabs and pills

// Common styles
.nav-tabs,
.nav-pills
  @extend .clearfix
  > li
    float: left
    > a
      padding-right: 12px
      padding-left: 12px
      margin-right: 2px
      line-height: 14px // keeps the overall height an even number

// Tabs

// Give the tabs something to sit on
.nav-tabs
  border-bottom: 1px solid #ddd

  // Make the list-items overlay the bottom border
  > li
    margin-bottom: -1px

  // Actual tabs (as links)
  > li > a
    padding-top: 9px
    padding-bottom: 9px
    border: 1px solid transparent
    border-radius: 4px 4px 0 0
  
  // Active state, and it's :hover to override normal :hover
  > .active
    > a,
    > a:hover
      color: darken($color-light, 70%)
      background-color: $color-light
      border: 1px solid darken($color-light, 15%)
      border-bottom-color: transparent
      cursor: default


// Pills

// Links rendered as pills
.nav-pills
  > li > a
    padding-top: 8px
    padding-bottom: 8px
    margin-top: 2px
    margin-bottom: 2px
    border-radius: $base-border-radius

  // Active state
  .active > a,
  .active > a:hover
    color: #fff
    background-color: $anchor-color

// Stacked nav

// Stacked tabs and pills
.nav.nav-stacked > li
  float: none
  > a
    margin-right: 0 // no need for the gap between nav items

// Tabs
.nav-tabs.nav-stacked
  border-bottom: 0

  > li > a
    border: 1px solid #ddd
    border-radius: 0

  > li:first-child > a
    border-radius: $base-border-radius $base-border-radius 0 0

  > li:last-child > a
    border-radius: 0 0 $base-border-radius $base-border-radius

  > li > a:hover
    border-color: #ddd
    z-index: 2

// Pills
.nav-pills.nav-stacked
  > li > a
    margin-bottom: 3px

  > li:last-child > a
    margin-bottom: 1px // decrease margin to match sizing of stacked tabs

// Dropdowns

// Position the menu
.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu
  //margin-top: 1px
  border-width: 1px

.nav-pills .dropdown-menu
  border-radius: $base-border-radius

// Default dropdown links
// Make carets use linkColor to start
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret
  border-top-color: $anchor-color
  margin-top: 6px
  margin-left: 3px

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret
  border-top-color: $anchor-color-hover


// Active dropdown links
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret
  border-top-color: #333


// Active:hover dropdown links
.nav > .dropdown.active > a:hover
  color: $color-dark
  cursor: pointer

// Open dropdowns
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover
  color: $color-light
  background-color: darken($color-light, 40%)
  border-color: darken($color-light, 40%)

.nav .open .caret,
.nav .open.active .caret,
.nav .open a:hover .caret
  border-top-color: $color-light
  opacity: 1

// Dropdowns in stacked tabs
.nav-tabs.nav-stacked .open > a:hover
  border-color: #ccc

// Tabbable

// Common styles

// Clear any floats
.tabbable
  @extend .clearfix

// Remove border on bottom, left, right
.nav-tabs-below,
.nav-tabs-right,
.nav-tabs-left
  .nav-tabs
    border-bottom: 0

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane
  display: none

.tab-content > .active,
.pill-content > .active
  display: block

// BOTTOM
// ------

.nav-tabs-below 
  .nav-tabs
    border-top: 1px solid #ddd

    > li
      margin-top: -1px
      margin-bottom: 0

      a
        border-radius: 0 0 $base-border-radius $base-border-radius
        &:hover
          border-bottom-color: transparent
          border-top-color: #ddd

    .active > a,
    .active > a:hover
      border-color: transparent #ddd #ddd #ddd


// Left & right

// Common styles
.nav-tabs-left .nav-tabs > li,
.nav-tabs-right .nav-tabs > li
  float: none

.nav-tabs-left .nav-tabs > li > a,
.nav-tabs-right .nav-tabs > li > a
  min-width: 74px
  margin-right: 0
  margin-bottom: 3px

// Tabs on the left
.nav-tabs-left .nav-tabs
  float: left
  margin-right: 19px
  border-right: 1px solid #ddd

.nav-tabs-left .nav-tabs > li > a
  margin-right: -1px
  border-radius: $base-border-radius 0 0 $base-border-radius

.nav-tabs-left .nav-tabs > li > a:hover
  border-color: #aaa #ddd #aaa #aaa

.nav-tabs-left .nav-tabs .active > a,
.nav-tabs-left .nav-tabs .active > a:hover
  border-color: #ddd transparent #ddd #ddd

// Tabs on the right
.nav-tabs-right .nav-tabs
  float: right
  margin-left: 19px
  border-left: 1px solid #ddd

.nav-tabs-right .nav-tabs > li > a
  margin-left: -1px
  border-radius: 0 4px 4px 0

.nav-tabs-right .nav-tabs > li > a:hover
  border-color: #aaa #aaa #aaa #ddd

.nav-tabs-right .nav-tabs .active > a,
.nav-tabs-right .nav-tabs .active > a:hover
  border-color: #ddd #ddd #ddd transparent
  