// ESN Landscape
 
// Thumbnails
.thumbnails
  @extend .clearfix

  // Remove any list style
  list-style: none

  // Spacing
  if $thumbnails-spacing is a 'unit'
    margin-left: -($thumbnails-spacing)

  // List item
  > li
    float: left
    // Sspacing
    if $thumbnails-spacing is a 'unit'
      margin: 0 0 $thumbnails-spacing $thumbnails-spacing

// Thumbnail
.thumbnail
  display: block
  line-height: 1

  // Padding
  if $thumbnails-padding is a 'unit'
    padding: $thumbnails-padding

  // Border
  if $thumbnails-border
    border: 1px solid #ddd

  // Border radius
  if $thumbnails-border-radius is a 'unit'
    border-radius: $thumbnails-border-radius
  
  // Box shadow
  if $thumbnails-box-shadow
    box-shadow: $thumbnails-box-shadow

  // Image
  > img
    display: block
    max-width: 100%

  // Caption
  if $thumbnails-caption-padding is a 'unit'
    .caption
      padding: $thumbnails-caption-padding

// Add a hover state for linked versions only
a.thumbnail:hover
  if $thumbnails-hover is a 'function'
    $thumbnails-hover()
  else
    border-color: $anchor-color
    box-shadow: 0 1px 4px fade-out($anchor-color, .75)