// ESN Landscape
 
// Wells
.well
  // Minimum height
  if $well-min-height is a 'unit'
    min-height: $well-min-height

  // Padding
  if $well-padding is a 'function'
    $well-padding()
  else if $well-padding is a 'unit'
    padding: $well-padding

  // Margin
  if $well-margin is a 'function'
    $well-margin()
  else if $well-margin is a 'unit'
    margin: $well-margin

  if $well-background is a 'function'
    $well-background()
  else if $well-background is a 'color'
    background-color: $well-background

  if $well-border is a 'function'
    $well-border()
  else if $well-border is not null
    border: $well-border

  if $well-border-radius is a 'unit'
    border-radius: $well-border-radius

  if $well-border-shadow is not null
    box-shadow: $well-box-shadow