// Labels
.label
  padding: 1px 3px 2px
  font-size: ($base-font-size * .75)
  font-weight: bold
  color: $color-light
  text-transform: uppercase
  background-color: lighten($color-default, 20%)
  border-radius: $base-border-radius

.label-important
	background-color: $color-danger
.label-warning
	background-color: $color-warning
.label-success
	background-color: $color-success
.label-info
	background-color: $color-info
