// ESN Landscape

// Mix two colors by any given amount
mix(colorA, colorB, amount)
  if colorB is a 'unit' and amount is a 'color'
    return mix(colorA, amount, colorB)
  require-color colorA
  require-color colorB
  if unit(amount) is '%'
    amount = (amount / 100)
  reverse = 1 - amount
  alphaA = alpha(colorA)
  alphaB = alpha(colorB)
  rgbA = rgb(colorA)
  rgbB = rgb(colorB)
  mixedColor = (rgbA * reverse) + (rgbB * amount)
  mixedAlpha = ((alphaA * 100 * reverse) + (alphaB * 100 * amount)) / 100
  return rgba(red(mixedColor), green(mixedColor), blue(mixedColor), mixedAlpha)

// Extendable clearfix class
.clearfix
  clearfix()

// Tab focus
tab-focus()
  // Default
  outline: thin dotted
  // Webkit
  outline: 5px auto -webkit-focus-ring-color
  outline-offset: -2px

// Extendable tab-focus class
.tab-focus
  tab-focus()

// Center-align a block level element
center-block()
  display: block
  margin-left: auto
  margin-right: auto

// IE7 inline block hack
ie7-inline-block()
  *display: inline /* IE7 inline-block hack */
  *zoom: 1

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
ie7-restore-left-whitespace()
  *margin-left: .3em
  &:first-child
    *margin-left: 0

ie7-restore-right-whitespace()
  *margin-right: .3em
  &:last-child
    *margin-left: 0

// IE reset filter
reset-filter()
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)")

// Sizing shortcuts
size($height = 5px, $width = 5px)
  width: $width
  height: $height

square($size = 5px)
  size($size, $size)

// Placeholder text
placeholder($color = $placeholder-text)
  :-moz-placeholder
    color: $color
  ::-webkit-input-placeholder
    color: $color
 
// Layout containers
container-fixed()
  width: $site-width
  margin-left: auto
  margin-right: auto
  
container-fluid()
  position: relative
  min-width: $site-width
  padding-left: $container-padding
  padding-right: $container-padding

// Grid system
columns($col = 1, $col-width = $grid-column-width, $gutter-width = $grid-gutter-width)
  width: ($col-width * $col) + ($gutter-width * ($col - 1))

fluid-columns($col = 1, $col-width = $fluid-grid-column-width, $gutter-width = $fluid-grid-gutter-width)
  width: 1% * ($col-width * $col) + ($gutter-width * ($col - 1))

offset($col = 1, $col-width = $grid-column-width, $gutter-width = $grid-gutter-width)
  margin-left: ($col-width * $col) + ($gutter-width * ($col - 1)) + ($gutter-width * 2)

// Necessary grid styles for every column to make them appear next to each other horizontally
grid-column()
  float: left
  margin-left: $grid-gutter-width

fluid-grid-column()
  float: left
  margin-left: $fluid-grid-gutter-width

// this can be used to mark any element (e.g., .content-primary) as a 
// column without changing markup to .span something
make-column($col = 1)
  grid-column()
  columns($col)
  
// Popover arrows
popover-arrow-top($arrow-width = 5px)
  bottom: 0
  left: 50%
  margin-left: -($arrow-width)
  border-left: $arrow-width solid transparent
  border-right: $arrow-width solid transparent
  border-top: $arrow-width solid black

popover-arrow-left($arrow-width = 5px)
  top: 50%
  right: 0
  margin-top: -($arrow-width)
  border-top: $arrow-width solid transparent
  border-bottom: $arrow-width solid transparent
  border-left: $arrow-width solid black
  
popover-arrow-bottom($arrow-width = 5px)
  top: 0
  left: 50%
  margin-left: -($arrow-width)
  border-left: $arrow-width solid transparent
  border-right: $arrow-width solid transparent
  border-bottom: $arrow-width solid black

popover-arrow-right($arrow-width = 5px)
  top: 50%
  left: 0
  margin-top: -($arrow-width)
  border-top: $arrow-width solid transparent
  border-bottom: $arrow-width solid transparent
  border-right: $arrow-width solid black
  
// Fonts
if not $font-family-serif
  $font-family-serif = Georgia, "Times New Roman", Times, serif;
if not $font-family-sans-serif
  $font-family-sans-serif = "Helvetica Neue", Helvetica, Arial, sans-serif
if not $font-family-monospace
  $font-family-monospace = Menlo, Monaco, "Courier New", monospace

font-family-serif()
  font-family: $font-family-serif

font-family-sans-serif()
  font-family: $font-family-sans-serif

font-family-monospace()
  font-family: $font-family-monospace

font-shorthand($size = $base-font-size, $weight = normal, $line-height = $base-line-height)
  font-size: $size
  font-weight: $height
  line-height: $line-height

font-serif($size = $base-font-size, $weight = normal, $line-height = $base-line-height)
  font-family-serif()
  font-shorthand($size, $weight, $line-height)
  
font-sans-serif($size = $base-font-size, $weight = normal, $line-height = $base-line-height)
  font-family-sans-serif()
  font-shorthand($size, $weight, $line-height)

font-monospace($size = $base-font-size, $weight = normal, $line-height = $base-line-height)
  font-family-monospace()
  font-shorthand($size, $weight, $line-height)

// Gradient bar colors for buttons and alerts
gradient-bar($primary, $secondary, $height=50px)
  background: linear-gradient($height top, $primary, $secondary)
  background-color: mix($primary, $secondary, 60%)
  background-repeat: repeat-x

button-border-color($primary, $secondary)
  border-color: $secondary $secondary darken($secondary, 28%)
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fade-in(rgba(0,0,0,.1), .15)

// Buttons

// Mixin for generating button backgrounds
button-background($start, $end, $height=50px)
  // gradient-bar will set the background to a pleasing blend of these, to support IE<=9
  gradient-bar($start, $end, $height)
  button-border-color($start, $end)
  //reset-filter()

  // in these cases the gradient won't cover the background, so we override
  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled]
    background-color: $end

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active
    background-color: darken($end, 10%) \\9