// ESN Landscape

// Responsive design

// Hide from screenreaders and browsers
// Credit: HTML5BP
.hidden
  display: none
  visibility: hidden

// Up to landscape phone
@media (max-width: 480px)

  // Smooth out the collapsing/expanding nav
  .nav-collapse
    transform: translate3d(0, 0, 0) // activate the GPU

  // Block level the page header small tag for readability
  .page-header h1 small
    display: block;
    line-height: $base-line-height

  // Make span* classes full width
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input
    display: block
    width: 100%
    height: 28px
    // Makes inputs behave like true block-level elements
    box-sizing: border-box

  // But don't let it screw up prepend/append inputs
  .input-prepend
  .input-append,
    input[class*="span"]
      width: auto

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"]
    border: 1px solid #ccc

  // Remove the horizontal form styles
  .form-horizontal .control-group > label
    float: none
    width: auto
    padding-top: 0
    text-align: left
  
  // Move over all input controls and content
  .form-horizontal .controls
    margin-left: 0
  
  // Move the options list down to align with labels
  .form-horizontal .control-list
    padding-top: 0 // has to be padding because margin collaspes

  // Move over buttons in .form-actions to align with .controls
  .form-horizontal .form-actions
    padding-left: 10px
    padding-right: 10px

  // Modals
  .modal
    position: absolute
    top:   10px
    left:  10px
    right: 10px
    width: auto
    margin: 0
    &.fade.in
      top: auto;

  .modal-header .close 
    padding: 10px
    margin: -10px

  // Carousel
  .carousel-caption
    position: static

// Landscape phone to small desktop & portrait tablet
@media (max-width: 768px)

  // Grid & containers
  // Remove width from containers
  .container
    width: auto
    padding: 0 20px
  
  // Undo negative margin on rows
  .row 
    margin-left: 0

  // Make all columns even
  .row > [class*="span"]
    float: none
    display: block
    width: auto
    margin: 0
  
  // Fluid rows
  if fluid is true
    .row-fluid
      width: 100%
      > [class*="span"]
        @extend .row > [class*="span"]

  // Subnav
  .subnav 
    position: static
    top: auto
    z-index: auto
    width: auto
    height: auto
    background: #fff // whole background property since we use a background-image for gradient
    box-shadow: none
  
    .nav > li 
      float: none
  
      > a 
        border: 0
  
      + li > a 
        border-top: 1px solid #e5e5e5
    
      &:first-child > a
        &,
        &:hover 
          border-radius: $base-border-radius $base-border-radius 0 0

// Portrait tablet to default desktop
@media (min-width: 768px) and (max-width: 980px)
  // Reset grid variables
  $grid-columns = 12
  $grid-column-width = 42px
  $grid-gutter-width = 20px
  $site-width = (($grid-columns * ($grid-column-width + $grid-gutter-width)) - $grid-gutter-width)
  $fluid-grid-column-width = 5.801104972%
  $fluid-grid-gutter-width = 2.762430939%

  // 16cols at 30px wide with 16px gutters
  .container
    width: $site-width

  // Generate column classes
  for $col in 1..$grid-columns
    .span{$col}
      @extend .grid-column
      columns($col, $grid-column-width, $grid-gutter-width)

  input,
  textarea,
  .uneditable-input
    // Default columns
    for $col in 1..$grid-columns
      &.span{$col}
        input-columns($col, $grid-column-width, $grid-gutter-width)
        
  select
    for $col in 1..$grid-columns
      &.span{$col}
        select-columns($col, $grid-column-width, $grid-gutter-width)

  // Generate offset classes
  for $col in 1...$grid-columns
    .offset{$col}
      offset($col, $grid-column-width, $grid-gutter-width)

  // Fluid columns
  if fluid is true
    .row-fluid
      for $col in 1..$grid-columns
        .span{$col}
          fluid-columns($col, $fluid-grid-column-width, $fluid-grid-gutter-width)

// Tablets and below
@media (max-width: 980px)

  // Unfix the topbar
  // Remove any padding from the body
  body
    padding-top: 0

  // Unfix the navbar
  .navbar-fixed-top
    position: static
    margin-bottom: $base-line-height

  .navbar-fixed-top .navbar-inner
    padding: 5px

  .navbar .container
    width: auto
    padding: 0

  // Account for brand name
  .navbar .brand
    padding-left: 10px
    padding-right: 10px
    margin: 0 0 0 -5px

  // Nav collapse clears brand
  .navbar .nav-collapse
    clear: left

  // Block-level the nav
  .navbar .nav
    float: none
    margin: 0 0 ($base-line-height / 2)

  .navbar .nav > li 
    float: none
  
  .navbar .nav > li > a 
    margin-bottom: 2px
  
  .navbar .nav > .divider-vertical
    display: none
  
  // Nav and dropdown links in navbar
  .navbar .nav > li > a,
  .navbar .dropdown-menu a
    padding: 6px 15px
    font-weight: bold
    color: $navbar-anchor-color
    border-radius: $navbar-border-radius

  .navbar .dropdown-menu li + li a
    margin-bottom: 2px
  
  .navbar .nav > li > a:hover,
  .navbar .dropdown-menu a:hover
    background-color: $navbar-background
  
  // Dropdowns in the navbar
  .navbar .dropdown-menu
    position: static
    top: auto
    left: auto
    float: none
    display: block
    max-width: none
    margin: 0 15px
    padding: 0
    background-color: transparent
    border: none
    border-radius: 0
    box-shadow: none
  
  .navbar .dropdown-menu:before,
  .navbar .dropdown-menu:after
    display: none
  
  .navbar .dropdown-menu .divider
    display: none
  
  // Forms in navbar
  .navbar-form,
  .navbar-search
    float: none
    padding: ($base-line-height / 2) 15px;
    margin: ($base-line-height / 2) 0;
    border-top: 1px solid $navbar-background
    border-bottom: 1px solid $navbar-background
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1)
  
  // Pull right (secondary) nav content
  .navbar .nav.pull-right
    float: none
    margin-left: 0
  
  // Static navbar
  .navbar-static .navbar-inner
    padding-left:  10px
    padding-right: 10px
  
  // Navbar button
  .btn-navbar
    display: block
  
  // Hide everything in the navbar save .brand and toggle button */
  .nav-collapse
    overflow: hidden
    height: 0

// Default desktop
@media (min-width: 980px)
  .nav-collapse.collapse
    height: auto !important

  // Fixed subnav on scroll, but only for 980px and up (sorry IE!)
  .subnav-fixed 
    position: fixed
    top: 40px
    left: 0
    right: 0
    z-index: 1030
    border-color: #d5d5d5
    border-width: 0 0 1px // drop the border on the fixed edges
    border-radius: 0
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1)
  
    .nav
      width: 938px
      margin: 0 auto
      padding: 0 1px
  
  .subnav .nav > li:first-child
    a, a:hover
      border-radius: 0

// Large desktop & up
@media (min-width: 1200px)

  // Reset grid variables
  $grid-columns = 12
  $grid-column-width = 70px
  $grid-gutter-width = 30px
  $site-width = (($grid-columns * ($grid-column-width + $grid-gutter-width)) - $grid-gutter-width)
  $fluid-grid-column-width = 5.982905983%
  $fluid-grid-gutter-width = 2.564102564%

  // Set new container width
  .container
    width: $site-width
    
  // Set new grid gutter width
  .row
    margin-left: ($grid-gutter-width * -1)

  [class*="span"]
    margin-left: $grid-gutter-width

  // Columns
  for $col in 1..$grid-columns
    .span{$col}
      @extend .grid-column
      columns($col, $grid-column-width, $grid-gutter-width)

  // Offset
  for $col in 1...$grid-columns
    .offset{$col}
      offset($col, $grid-column-width, $grid-gutter-width)

  // Fluid columns
  if fluid is true
    .row-fluid
      for $col in 1..$grid-columns
        .span{$col}
          fluid-columns($col, $fluid-grid-column-width, $fluid-grid-gutter-width)

  // Input columns
  input,
  textarea,
  .uneditable-input
    // Default columns
    for $col in 1..$grid-columns
      &.span{$col}
        input-columns($col, $grid-column-width, $grid-gutter-width)
  
  // Select columns 
  select
    for $col in 1..$grid-columns
      &.span{$col}
        select-columns($col, $grid-column-width, $grid-gutter-width)

  // Thumbnail spacing
  .thumbnails
    margin-left: -30px
    > li
      margin-left: 30px

  // Update subnav container
  .subnav-fixed .nav 
    width: 1168px // 2px less to account for left/right borders being removed when in fixed mode
