// ESN Landscape

// Layouts
// Fixed-width and fluid (with sidebar) layouts

// Container (centered, fixed-width layouts)
.container
  @extend .clearfix
  container-fixed()
  
// Fluid layouts (left aligned, with sidebar, min- & max-width content)
if fluid = true
  .container-fluid
    @extend .clearfix
    container-fluid()

// Grid system
.row
  @extend .clearfix
  margin-left: -($grid-gutter-width)
  
[class*="span"]
  grid-column()

// Generate column classes
for $col in 1..$grid-columns
  .span{$col}
    @extend .grid-column
    columns($col)

// Generate offset classes
for $col in 1...$grid-columns
  .offset{$col}
    offset($col)

// Row surrounds the columns
if fluid = true
  .row-fluid
    @extend .clearfix
    width: 100%

    // Find all .span# classes within .row and give them the necessary 
    // properties for grid columns (supported by all browsers back to IE7, thanks @dhg)
    > [class*="span"]
      fluid-grid-column()
      &:first-child
        margin-left: 0

    // Default columns
    for $col in 1..$grid-columns
      .span{$col}
        fluid-columns($col)