// ESN Landscape

// Base typography
body
  font-family: $base-font-family
  font-size: $base-font-size
  color: $base-color
  line-height: $base-line-height

// Anchor
a
  // Remove decoration
  text-decoration: none

  // Base style
  if $anchor is a 'function'
    $anchor()

  // Color
  if $anchor-color is a 'color'
    color: $anchor-color

  // Hover
  &:hover
    // Base style
    if $anchor-hover is a 'function'
      $anchor-hover()

    // Color
    if $anchor-hover-color is a 'color'
      color: $anchor-hover-color
  // Active
  &:active
    // Base style
    if $anchor-active is a 'function'
      $anchor-active()

    // Color
    if $anchor-active-color is a 'color'
      color: $anchor-active-color

  // Focus
  &:focus
    if $anchor-focus-color is a 'color'
      outline: thin dotted $anchor-focus-color
    else if $anchor-active-color is a 'color'
      outline: thin dotted $anchor-active-color
    else
      outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px
 
// Headings
h1, h2, h3, h4, h5, h6
  // Remove margin
  margin: 0

  // Fix the character spacing for headings
  text-rendering: optimizelegibility

  // Line height
  if $header-line-height is a 'unit'
    line-height: $header-line-height
  
  // Color
  if $header-color is a 'color'
    color: $header-color
  else
    color: $base-color

  // Small inside header
  small
    if $header-small is a 'function'
      $header-small()
    else
      font-size: .7em
      font-weight: normal
      margin-left: .5em
      color: lighten(@color, 50%)

// Sadly we can't iterate the headers since stylus fails when
// looking up variable names that contains variables.
// I.e. if $h{n}-font-size is a 'unit'

h1
  if $h1 is a 'function'
    $h1()
  // Size
  if $h1-font-size is a 'unit'
    font-size: $h1-font-size
  // Color
  if $h1-color is a 'color'
    color: $h1-color

h2
  if $h2 is a 'function'
    $h2()
  // Size
  if $h2-font-size is a 'unit'
    font-size: $h2-font-size
  // Color
  if $h2-color is a 'color'
    color: $h2-color

h3
  if $h3 is a 'function'
    $h3()
  // Size
  if $h3-font-size is a 'unit'
    font-size: $h3-font-size
  // Color
  if $h3-color is a 'color'
    color: $h3-color

h4
  if $h4 is a 'function'
    $h4()
  // Size
  if $h4-font-size is a 'unit'
    font-size: $h4-font-size
  // Color
  if $h4-color is a 'color'
    color: $h4-color

h5
  if $h5 is a 'function'
    $h5()
  // Size
  if $h5-font-size is a 'unit'
    font-size: $h5-font-size
  // Color
  if $h5-color is a 'color'
    color: $h5-color

h6
  if $h6 is a 'function'
    $h6()
  // Size
  if $h6-font-size is a 'unit'
    font-size: $h6-font-size
  // Color
  if $h6-color is a 'color'
    color: $h6-color

.page-header
  padding-bottom: 17px
  margin: 18px 0
  border-bottom: 1px solid #eee
  > h1
    margin-bottom: 0

.lead
  margin-bottom: .8em
  font-size: 1.5em
  font-weight: 200
  line-height: 1.5em

// Paragrapahs
p
  // Remove margin
  margin: 0
  margin-bottom: ($base-line-height / 2)

  // Font family
  if $paragraph-font-family
    font-family: $paragraph-font-family

  // Font size
  if $paragraph-font-size is a 'unit'
    font-size: $paragraph-font-size
  else
    font-size: $base-font-size

  // Line height
  if $paragraph-line-height is a 'unit'
    line-height: $paragraph-line-height
  else
    line-height: $base-line-height

  // Small element inside paragraph
  small
    font-size: .8em

// Lists

// Unordered and Ordered lists
ul, ol
  // Remove padding
  padding: 0

  // Margin
  if $list-margin is a 'unit'
    margin: $list-margin

  // Lists in lists
  ul, ol
    // Remove margin
    margin-bottom: 0

ul
  list-style: disc unless $ul-list-style

ol
  list-style: decimal unless $ol-list-style

li
  line-height: $base-line-height unless $li-line-height

ul.unstyled 
  margin-left: 0
  list-style: none

// Description Lists
dl
  margin-bottom: $base-line-height

dt,
dd
  line-height: $base-line-height

dt
  font-weight: bold

dd
  margin-left: ($base-line-height / 2)


// Misc

// Horizontal rules
hr
  margin: $base-line-height 0
  border: 0
  border-top: 1px solid #e5e5e5
  border-bottom: 1px solid #fff

// Emphasis
strong
  font-style: inherit
  font-weight: bold

em
  font-style: italic
  font-weight: inherit
  line-height: inherit

if $color-muted
  .muted
    color: $color-muted

// Abbreviations and acronyms
abbr
  font-size: 90%
  text-transform: uppercase
  border-bottom: 1px dotted #ddd
  cursor: help

small
  font-size: 1em

// Blockquotes
blockquote
  padding-left: 15px
  margin-bottom: $base-line-height
  border-left: 5px solid #eee
  p
    margin-bottom: 0
    font-shorthand(16px, 300, $base-line-height * 1.25)
  
  small
    display: block
    line-height: $base-line-height
    color: #ccc
    &:before
      content: '\2014 \00A0'

  // Float right with text-align: right
  &.pull-right
    float: right
    padding-left: 0
    padding-right: 15px
    border-left: 0
    border-right: 5px solid #eee
    p,
    small
      text-align: right

// Addresses
address
  font-style: normal
  display: block
  margin-bottom: $base-line-height
  line-height: $base-line-height

// Images
img
  max-width: 100%
  height: auto
  border: 0
  -ms-interpolation-mode: bicubic

blockquote
  padding: 0 0 0 15px
  margin: 0 0 18px
  border-left: 5px solid #eee