/*
 * ESN Frontend Toolkit
 */

// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right
  float: right

.pull-left
  float: left

// Toggling content
.hide
  display: none

.show
  display: block

// Visibility
.invisible
  visibility: hidden

// Fade

.fade
  transition: opacity 0.15s linear
  opacity: 0

.fade.in
  opacity: 1

// Collapse
.collapse
  transition: height 0.35s ease
  position: relative
  overflow: hidden
  height: 0

.collapse.in
  height: auto