// ESN Landscape

// Quick floats
.pull-right
  float: right

.pull-left
  float: left

// Toggling content
.hide
  display: none

.show
  display: block

// Visibility
.invisible
  visibility: hidden

// Fade
.fade
  // Transition
  if $fade-transition is a 'function'
    $fade-transition()
  else if $fade-transition
    transition: $fade-transition
  else
    transition: opacity .15s linear

  // Opacity
  opacity: 0
  &.in
    opacity: 1

// Collapse
.collapse
  // Transition
  if $collapse-transition is a 'function'
    $collapse-transition()
  else if $collapse-transition
    transition: $collapse-transition
  else
    transition: height .35s ease

  position: relative
  overflow: hidden
  height: 0

.collapse.in
  height: auto