/*
 * ESN Landscape
 */
 
$navbar-height = 40px
$navbar-bg-start = #333
$navbar-bg-end = #222
$navbar-link-color = #999
  
// gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner
  background-color: #333
  background: linear-gradient(top, #333, #222)
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)
  
// Text and links
.navbar

  // Hover and active states
  .brand:hover
    color: white
    text-decoration: none
  
  // Website or project name
  .brand
    float: left
    display: block
    padding: 8px 20px 12px
    margin-left: -20px // negative indent to left-align the text down the page
    font-size: 20px
    font-weight: 200
    line-height: 1
    color: white
  
  // Plain text in topbar
  p
    margin: 0
    line-height: 40px
    a:hover
      color: @white
      background-color: transparent

  // Buttons in navbar
  .btn,
  .btn-group
    margin-top: 5px // make buttons vertically centered in navbar
    
  .btn-group .btn
    margin-top: 0
    
  .nav > li > a
    display: block
    
// Navbar forms
.navbar-form
  margin-bottom: 0 // remove default bottom margin
  input,
  select
    display: inline-block
    margin-bottom: 0

// Static navbar
.navbar-static
  margin-bottom: $base-line-height

.navbar-static .navbar-inner
  padding-left: 20px
  padding-right: 20px
  border-radius: 4px

// Fixed navbar
body.navbar-fixed
  padding-top: $navbar-height+20
  .navbar
    fixed: top left
    right: 0
    z-index: $zindex-navbar-fixed

/*
 * Navigation
 */
.navbar .nav
  relative: left
  display: block
  float: left
  margin: 0 10px 0 0

  // Nav items
  > li
    display: block
    float: left

    // Links
    > a
      float: none
      padding: 10px 10px 11px
      line-height: 19px
      color: #999
      text-decoration: none
      text-shadow: 0 -1px 0 rgba(0,0,0,.25)
      
      &:hover
        background-color: transparent
        color: white
        text-decoration: none

  // Active nav items
  .active > a
    color: white
    text-decoration: none
    background-color: #222
    background-color: rgba(0,0,0,.5)

  // Dividers (basically a vertical hr)
  .vertical-divider
    height: 40px
    width: 1px
    margin: 0 5px
    overflow: hidden
    background-color: #222
    border-right: 1px solid #444

  // Secondary (floated right) nav in topbar
  &.pull-right
    float: right 
    margin-left: 10px
    margin-right: 0
    
/*
 * Dropdown menu
 */
.nav
  .dropdown-menu
    top: 41px
    border-radius: $base-border-radius
    &:before
      content: ''
      display: inline-block
      border-left:   7px solid transparent
      border-right:  7px solid transparent
      border-bottom: 7px solid #ccc
      border-bottom-color: rgba(0,0,0,.2)
      absolute: top -7px left 9px
    &:after
      content: ''
      display: inline-block
      border-left:   6px solid transparent
      border-right:  6px solid transparent
      border-bottom: 6px solid #fff
      absolute: top -6px left 10px

  // Dropdown toggle caret
  .dropdown-toggle .caret,
  .open.dropdown .caret
    border-top-color: #fff
  
  .active .caret
    opacity: 100

  // Remove background color from open dropdown
  .open > .dropdown-toggle,
  .active > .dropdown-toggle,
  .open.active > .dropdown-toggle
    background-color: transparent
  
  // Dropdown link on hover
  .active > .dropdown-toggle:hover
    color: #fff

  // Right aligned menus need alt position
  &.pull-right .dropdown-menu
    right: 0
    &:before
      left: auto
      right: 12px
    &:after
      left: auto
      right: 13px