a
  text-decoration: none

p
  a:hover
    text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
  color: #333
  small
    font-weight: normal
    color: lighten(@color, 50%)

.page-header
  padding-bottom: 17px
  margin: 18px 0
  border-bottom: 1px solid #eee

.lead
  margin-bottom: 18px
  font-size: 20px
  font-weight: 200
  line-height: 27px

code, pre
  padding: 0 3px 2px
  font-family-monospace()
  font-size: 12px
  color: #333
  border-radius: 3px

code
  padding: 0 3px
  color: #d14
  background-color: #f7f7f9
  border: 1px solid #e1e1e8

blockquote
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eee;